---
title: Archive | The Portfolio of Tom Wahlin
---

<div class="wrap-inner">
	<h3>Archived Projects</h3>
	<ul>
		<% data.archive.projects.each do |p| %>
			<li><a target="_blank" href="<%= p.link %>"><%= p.title %> &rarr;</a></li>
		<% end %>
	</ul>
</div>

	
	
		