@import "compass";
@import "mixins";

html {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
}

body {

}

/////////////
/// Main ///
///////////

.wrap-main {
	@include breakpoint(desktop) { 
		margin: 0 $non-mobile-wrap-margin; 
	}
	position: relative;
	overflow: hidden;
}

a, a:visited { color: $link-blue; 	text-decoration: none; }


//Buttons
.cta,
.cta:visited {
	display: inline-block;
	padding: 10px 16px;
	color: $light-cream;
	background: $slate-blue;
	@include proxima-semibold;
	@include text-shadow(0 1px 1px transparentize($dark-blue, .6));
	@include border-radius(4px);
	@include box-shadow(inset 0 -3px 0 0 transparentize($dark-blue, .6));
}


/////////////////
/// Masthead ///
///////////////

/*.masthead {
	background: #fff;
	height: 44px;
	top: 44px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 4;
	@include box-shadow(0px 1px 0 0 rgba(23,27,47,0.15));
	@include breakpoint(desktop) {
		left: $non-mobile-wrap-margin;
		right: $non-mobile-wrap-margin;
		top: 0;
	}
	.masthead-wrap {
		clear: both;
		height: 44px;
		color: aqua;
		position: relative;	
		width: 100%;
	}
	h1 {
		background: aqua;
		position: absolute;
		top: 0;
		left: 0;
		@include hide-text;
		left: 50%;
		margin-left: -50px;
		padding-top: 100px;
		width: 100px;
	}
	h2 {
		float: left;
		color: $dark-blue;
		display: inline-block;
		line-height: 44px;
		font-size: 14px;
		margin: 0;
	}
	ul {
		position: absolute;
		top: -44px;
		font-size: 14px;
		width: 100%;
		@include breakpoint(desktop) {
			position: relative;
			float: right;
			top: 0;
			line-height: 44px;
		}
		li {
			@include breakpoint(desktop) {
				float: right;
				margin: 0 0 0 16px;
							display: inline-block;
			}
			a {
				display: block;
				height: 20px;
				width: 20%;
			}
		}
	}
}
=
.masthead:before {
	content: "";
	background: #000;
	height: 44px;
	width: 100%;
	top: -44px;
	display: block;
	position: absolute;
}*/

/*.js .masthead {
	top: 0;
}*/

.masthead {
	background: $dark-cream;
	height: 88px;
	position: fixed;
	width: 100%;
	z-index: 4;
	position: fixed;
	left: 0;
	right: 0;
}

.js .masthead {
	top: -44px;
}

.js .nav-push {
	top: 0;
}

.nav-toggle {
	background: aqua;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 44px;
	width: 44px;
}

.masthead-wrap {
	background: #fff;
	height: 44px;
	margin: 44px 0 0 0;
	@include box-shadow(0px 1px 0 0 transparentize($dark-blue, .75), 0px -1px 0 0 transparentize($dark-blue, .75));
	nav {
		position: absolute;
		top: 0;
		height: 30px;
		width: 100%;
		a {
			background: url(../img/fpo/nav-img.png) no-repeat center;
			@include image-2x("../img/fpo/nav-img@2x.png", 16px, 16px);
			display: block;
			padding-top: 44px;
			width: 20%;
			float: left;
			@include hide-text;
		}
	}
}



//////////////////////////
/// Discipline Icons ///
///////////////////////

h1 {
	background: url(../img/build/logo-tom-wahlin.png) no-repeat center;
	@include image-2x("../img/build/logo-tom-wahlin@2x.png", 47px, 38px);
	position: absolute;
	top: 0;
	left: 20px;
	@include hide-text;
	padding-top: 38px;
	width: 48px;
	top: 44px;
	
}

h2 {
	text-align: center;
	color: $dark-blue;
	line-height: 44px;
	font-size: 14px;
	margin: 0;
	span{
		display: none;
		@include breakpoint(desktop) {
			display: inline;
		}
	}
}

//////////////////////////
/// Discipline Icons ///
///////////////////////

.icons-discipline {
	clear: both;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 40px;
	li {
		display: block;
		float: left;
		padding: 16px 0 0 0;
		margin: 0 10px 0 0;
		@include hide-text;
	}
	.icon-desktop {
		background: url(../img/build/icon-desktop.png) no-repeat;
		@include image-2x("../img/build/icon-desktop@2x.png", 18px, 16px); 
		width: 18px;
	}
	.icon-mobile {
		background: url(../img/build/icon-phone.png) no-repeat; 
		@include image-2x("../img/build/icon-phone@2x.png", 10px, 16px); 		
		width: 10px;
	}
	.icon-print {
		background: url(../img/build/icon-print.png) no-repeat; 
		@include image-2x("../img/build/icon-print@2x.png", 12px, 16px); 		
		width: 12px;
	}
	.icon-film {
		background: url(../img/build/icon-film.png) no-repeat; 
		@include image-2x("../img/build/icon-film@2x.png", 14px, 16px); 		
		width: 14px;
	}
}



//////////////////
/// Hero Area ///
////////////////


.hero {
	display: block;
	height: 400px;
	background: red;
  @include breakpoint(desktop) { 
		background: blue; 
	}
}

////////////////////////
/// Content Holders ///
//////////////////////

.holder-mobile-phone,
.holder-monitor {
	background: $dark-blue;
	@include box-shadow(inset 0px 0px 0px 2px rgba(23,28,47,1), inset 0px 0px 0px 4px rgba(252,252,252,0.50));	
	img {
		display: block;
		@include box-shadow(0px 0px 0px 2px rgba(252,252,252,0.30));		
	}	
}

.holder-mobile-phone {
	border-radius: 30px;
	padding: 66px 16px;
	width: 200px;
	height: 355px;
	img {
		height: 355px;
		width: 200px;
	}
}

.holder-monitor {
	border-radius: 15px;
	padding: 36px;
	height: 515px;
	width: 687px;
	img {
		height: 515px;
		width: 687px;
	}	
}


/////////////////////////
/// Project Previews ///
///////////////////////

.project-preview-wrap {
	background: $light-cream;
	border-bottom: 1px solid #E7E8EA;
	min-height: 430px;
	min-width: 800px;
	position: relative;
}

.project-preview-wrap:nth-child(even)  {
		background: $dark-cream;
}

.detail-preview {
		padding: 40px 0 40px 40px;
		width: 30%;
		h3 {
			color: $dark-blue;
			line-height: 36px;
			@include proxima-light;
			margin: 0 0 18px 0;			
		}
		p {
			margin: 0 0 25px 0;
		}
}

//global outer wrap for image sets
.image-preview {
	height: 370px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 35%;
	overflow: hidden;
	width: 70%;	
}

//global inner wrap for image sets
.project-images {
	position: relative;
	margin: 0 auto;
}

.project-mobile {
	max-width: 640px;
	display: block;
	li {
		position: absolute;
		top: 50px;
		z-index: 2;
	}
	li:first-child {
		left: 50%;
		margin-left: -116px;
		top: 0;
		z-index: 3;
	}
	li:last-child {
		right: 0;
		z-index: 1;		
	}
}

.project-mobile-desktop {
	max-width: 660px;
	display: block;
	.holder-mobile-phone {
		position: absolute;
		left: 0;
		top: 50px;
		z-index: 2;
	}
	.holder-monitor {
		position: absolute;
		left: 20%;
		top: 0;
		z-index: 1;
	}
}





////////////////////////
/// Experimentation ///
//////////////////////

//Example of media query mixin http://css-tricks.com/media-queries-sass-3-2-and-codekit/
.page-wrap {
  width: 75%;
  @include breakpoint(papa-bear) { width: 60%; }
  @include breakpoint(mama-bear) { width: 80%; }
  @include breakpoint(baby-bear) { width: 95%; }
}

// Sprite Maker
/*@import "img/sprite/*.png";
@include all-my-icons-sprites;*/

/*image_tag('../img/sprite/*.png')*/




