@import "compass";
@import "mixins";

html {
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
}

body {

}

/////////////
/// Main ///
///////////

.wrap-main {
	@include breakpoint(desktop) { 
		margin: 0 $non-mobile-wrap-margin; 
	}
	position: relative;
	overflow: hidden;
}

/////////////////
/// Masthead ///
///////////////

.masthead {
	background: #fff;
	height: 44px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 4;
	@include box-shadow(0px 1px 0 0 rgba(23,27,47,0.15));
	@include breakpoint(desktop) {
		left: $non-mobile-wrap-margin;
		right: $non-mobile-wrap-margin;
	}
	.masthead-wrap {
		background: #000;
		height: 44px;
		color: aqua;
		position: relative;	
		width: 100%;
		/*	-webkit-animation-timing-function: ease-in-out;
		  -webkit-transform-style: preserve-3d;
		  -webkit-transform-origin: 22px 22px 0;*/

			@include transition-timing-function(ease-in-out);
		  @include transform-style(preserve-3d);
		  @include transform-origin(22px 22px 0);
	}
	.section-1, .section-2, .section-3 {
		height: 44px;
		overflow: hidden;
		position: absolute;
		width: 100%;
		.close-nav {
			display: block;
			cursor: pointer;
			background: red;
			height: 20px;
			width: 20px;
		}
	}
	.section-1 {
		background: #777;
		@include transform(translateZ(22px)); 
	}
	.section-2 {
		background: #888;
		@include transform(rotateX(-90deg) translateZ(22px));  
	}
	.section-3 {
		background: #999;
		@include transform(rotateX(90deg) translateZ(22px));  
	}
	h1 {
		background: aqua;
		position: absolute;
		top: 0;
		left: 0;
		@include hide-text;
		left: 50%;
		margin-left: -50px;
		padding-top: 100px;
		width: 100px;
	}
}

//////////////////////////
/// Discipline Icons ///
///////////////////////

.icons-discipline {
	clear: both;
	display: block;
	overflow: hidden;
	li {
		display: block;
		float: left;
		padding: 16px 0 0 0;
		margin: 0 10px 0 0;
		@include hide-text;
	}
	.icon-desktop {
		background: url(../img/build/icon-desktop.png) no-repeat;
		@include image-2x("../img/build/icon-desktop@2x.png", 18px, 16px); 
		width: 18px;
	}
	.icon-mobile {
		background: url(../img/build/icon-phone.png) no-repeat; 
		@include image-2x("../img/build/icon-phone@2x.png", 10px, 16px); 		
		width: 10px;
	}
	.icon-print {
		background: url(../img/build/icon-print.png) no-repeat; 
		@include image-2x("../img/build/icon-print@2x.png", 12px, 16px); 		
		width: 12px;
	}
	.icon-film {
		background: url(../img/build/icon-film.png) no-repeat; 
		@include image-2x("../img/build/icon-film@2x.png", 14px, 16px); 		
		width: 14px;
	}
}



//////////////////
/// Hero Area ///
////////////////


.hero {
	display: block;
	height: 200px;
	background: red;
  @include breakpoint(desktop) { 
		background: blue; 
	}
}

////////////////////////
/// Content Holders ///
//////////////////////

.holder-mobile-phone,
.holder-monitor {
	background: #171C2F;
	@include box-shadow(inset 0px 0px 0px 2px rgba(23,28,47,1), inset 0px 0px 0px 4px rgba(252,252,252,0.50));	
	img {
		display: block;
		@include box-shadow(0px 0px 0px 2px rgba(252,252,252,0.30));		
	}	
}

.holder-mobile-phone {
	border-radius: 30px;
	padding: 66px 16px;
	width: 200px;
	height: 355px;
	img {
		height: 355px;
		width: 200px;
	}
}

.holder-monitor {
	border-radius: 15px;
	padding: 36px;
	height: 515px;
	width: 687px;
	img {
		height: 515px;
		width: 687px;
	}	
}


/////////////////////////
/// Project Previews ///
///////////////////////

.project-preview-wrap {
	background: #F8F8F9;
	border-bottom: 1px solid #E7E8EA;
	min-height: 430px;
	min-width: 800px;
	position: relative;
}

//global outer wrap for image sets
.image-preview {
	height: 370px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 30%;
	overflow: hidden;
	width: 70%;	
}

//global inner wrap for image sets
.project-images {
	position: relative;
	margin: 0 auto;
}

.project-mobile {
	max-width: 640px;
	display: block;
	li {
		position: absolute;
		top: 50px;
		z-index: 2;
	}
	li:first-child {
		left: 50%;
		margin-left: -116px;
		top: 0;
		z-index: 3;
	}
	li:last-child {
		right: 0;
		z-index: 1;		
	}
}

.project-mobile-desktop {
	max-width: 660px;
	display: block;
	.holder-mobile-phone {
		position: absolute;
		left: 0;
		top: 50px;
		z-index: 2;
	}
	.holder-monitor {
		position: absolute;
		left: 20%;
		top: 0;
		z-index: 1;
	}
}





////////////////////////
/// Experimentation ///
//////////////////////

//Example of media query mixin http://css-tricks.com/media-queries-sass-3-2-and-codekit/
.page-wrap {
  width: 75%;
  @include breakpoint(papa-bear) { width: 60%; }
  @include breakpoint(mama-bear) { width: 80%; }
  @include breakpoint(baby-bear) { width: 95%; }
}

// Sprite Maker
/*@import "img/sprite/*.png";
@include all-my-icons-sprites;*/

/*image_tag('../img/sprite/*.png')*/




