@import "compass";
@import "mixins";

html {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
}

body {

}

/////////////
/// Main ///
///////////

.wrap-main {
	@include breakpoint(desktop) { 
		margin: 0 $non-mobile-wrap-margin; 
	}
	position: relative;
	overflow: hidden;
}

a, a:visited { color: $link-blue; 	text-decoration: none; }


//Buttons
.cta,
.cta:visited {
	display: inline-block;
	padding: 10px 16px;
	color: $light-cream;
	background: $slate-blue;
	@include proxima-semibold;
	@include text-shadow(0 1px 1px transparentize($dark-blue, .6));
	@include border-radius(4px);
	@include box-shadow(inset 0 -3px 0 0 transparentize($dark-blue, .4));
	@include single-transition(all, 0.2s, ease-out, 0.2s);
}

.cta:hover {
	background: transparentize($slate-blue, .1);
	@include box-shadow(inset 0 -3px 0 0 transparentize($dark-blue, .4), 0 2px 10px transparentize($dark-blue, .7));
}

.cta:active {
	padding: 11px 16px 9px 16px;
	@include box-shadow(inset 0 -1px 0 0 transparentize($dark-blue, .4), 0 2px 10px transparentize($dark-blue, .7));
}


/////////////////
/// Masthead ///
///////////////

h1 {
	position: absolute;
	top: 0;
	left: 20px;
	padding-top: 38px;
	width: 46px;
	top: 44px;
	@include breakpoint(desktop) { 
		left: 50%;
		margin-left: -23px;
	}
	a {
		background: url(../img/build/logo-tom-wahlin.png) no-repeat center;
		@include image-2x("../img/build/logo-tom-wahlin@2x.png", 46px, 38px);	
		position: absolute;
		padding-top: 38px;
		width: 46px;
		top:0;
		right: 0;
		@include hide-text;
	}
}

h2 {
	text-align: center;
	color: $slate-blue;
	line-height: 44px;
	font-size: 16px;
	margin: 0;
	a, a:visited {color: $slate-blue;}
	@include breakpoint(desktop) { 
		text-align: left;
		float: left;
	}
	span {
		display: none;
		@include proxima-regular;
		@include breakpoint(desktop) {
			display: inline;
		}
	}
}

.masthead {
	background: $slate-blue;
	height: 88px;
	position: fixed;
	top: -44px;
	width: 100%;
	z-index: 4;
	position: fixed;
	left: 0;
	right: 0;
	@include single-transition(all, .2s, ease-in-out);
	@include breakpoint(desktop) {
		background: #fff; 
	}
}

.nav-toggle {
	background: url(../img/build/icon-menu.png) no-repeat center;
	@include image-2x("../img/build/icon-menu@2x.png", 18px, 12px);
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 44px;
	width: 44px;
	@include breakpoint(desktop) { display: none; }
}

.nav-push {
	top: 0;
}

.nav-push .nav-toggle {
	background: url(../img/build/icon-arrow.png) no-repeat center;
	@include image-2x("../img/build/icon-arrow@2x.png", 10px, 12px);
}

.masthead-wrap {
	background: #fff;
	height: 44px;
	margin: 44px 0 0 0;
	@include box-shadow(0px 1px 0 0 transparentize($dark-blue, .75), 0px -1px 0 0 transparentize($dark-blue, .75));
	@include breakpoint(desktop) {
		margin: 44px $non-mobile-wrap-margin;
		padding: 0 15px; 
	}
	nav {
		position: absolute;
		top: 0;
		height: 30px;
		width: 100%;
		@include breakpoint(desktop) { 
			float: right;
			position: relative; 
			height: 44px;
			width: auto;
		}
		ul {
			li {
				display: block;
				position: relative;
				height: 24px;
				float: left;
				width: 20%;
				@include breakpoint(desktop) { 
					width: auto;
					float: left;
					margin-left: 20px;
				}
				a {
					display: block;
					padding-top: 44px;
					width: 100%;
					margin-top: -60px;
					float: left;
					@include hide-text;
					@include breakpoint(desktop) { 
						position: relative; 
						width: auto;
						height: auto;
						padding: 0;
						margin: 0;
						line-height: 44px;
						width: auto;						
					}
				}
			}
		li:after {
			background: transparentize($dark-blue, .9);			
			content:"";
			position: absolute;
			left: -1px;
			top: 12px;
			height: 20px;
			width: 2px;
			@include breakpoint(desktop) { 
				display: none;
			}
		}
		li:first-child:after{display: none;}	
		.nav-dribbble a { background: url(../img/build/icon-dribbble.png) no-repeat center; @include image-2x("../img/build/icon-dribbble@2x.png", 16px, 16px); @include breakpoint(desktop) { background: none; }}
		.nav-linkedin a { background: url(../img/build/icon-linkedin.png) no-repeat center; @include image-2x("../img/build/icon-linkedin@2x.png", 16px, 16px); @include breakpoint(desktop) { background: none; }}
		.nav-lastfm a { background: url(../img/build/icon-lastfm.png) no-repeat center; @include image-2x("../img/build/icon-lastfm@2x.png", 20px, 14px); @include breakpoint(desktop) { background: none; }}
		.nav-twitter a { background: url(../img/build/icon-twitter.png) no-repeat center; @include image-2x("../img/build/icon-twitter@2x.png", 16px, 16px); @include breakpoint(desktop) { background: none; }}
		.nav-facebook a { background: url(../img/build/icon-facebook.png) no-repeat center; @include image-2x("../img/build/icon-facebook@2x.png", 8px, 16px); @include breakpoint(desktop) { background: none; }}
		}
		ul li:nth-child(1) a { @include single-transition(all, .2s, cubic-bezier(0.175, 0.885, 0.320, 1.275)); }
		ul li:nth-child(2) a { @include single-transition(all, .3s, cubic-bezier(0.175, 0.885, 0.320, 1.275)); }	
		ul li:nth-child(3) a { @include single-transition(all, .4s, cubic-bezier(0.175, 0.885, 0.320, 1.275)); }
		ul li:nth-child(4) a { @include single-transition(all, .5s, cubic-bezier(0.175, 0.885, 0.320, 1.275)); }
		ul li:nth-child(5) a { @include single-transition(all, .6s, cubic-bezier(0.175, 0.885, 0.320, 1.275)); }
		ul li .nav-open {
			margin-top: 0;
		}	
	}
}

.no-js .masthead {
	top: 0;
}

.no-js .masthead-wrap nav ul li a {
	margin-top: 0;
}

//////////////////////////
/// Discipline Icons ///
///////////////////////

.icons-discipline {
	clear: both;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 40px;
	li {
		display: block;
		float: left;
		padding: 16px 0 0 0;
		margin: 0 10px 0 0;
		@include hide-text;
	}
	.icon-desktop {
		background: url(../img/build/icon-desktop.png) no-repeat;
		@include image-2x("../img/build/icon-desktop@2x.png", 18px, 16px); 
		width: 18px;
	}
	.icon-mobile {
		background: url(../img/build/icon-phone.png) no-repeat; 
		@include image-2x("../img/build/icon-phone@2x.png", 10px, 16px); 		
		width: 10px;
	}
	.icon-print {
		background: url(../img/build/icon-print.png) no-repeat; 
		@include image-2x("../img/build/icon-print@2x.png", 12px, 16px); 		
		width: 12px;
	}
	.icon-film {
		background: url(../img/build/icon-film.png) no-repeat; 
		@include image-2x("../img/build/icon-film@2x.png", 14px, 16px); 		
		width: 14px;
	}
}

//////////////////
/// Hero Area ///
////////////////


.hero {
	display: block;
	height: 400px;
	background: red;
	@include breakpoint(desktop) { 
		background: blue; 
	}
}

////////////////////////
/// Content Holders ///
//////////////////////

.holder-mobile-phone,
.holder-monitor {
	background: $dark-blue;
	@include box-shadow(inset 0px 0px 0px 2px rgba(23,28,47,1), inset 0px 0px 0px 4px rgba(252,252,252,0.50));	
	img {
		display: block;
		@include box-shadow(0px 0px 0px 2px rgba(252,252,252,0.30));		
	}	
}

.holder-mobile-phone {
	border-radius: 30px;
	padding: 66px 16px;
	width: 200px;
	height: 355px;
	img {
		height: 355px;
		width: 200px;
	}
}

.holder-monitor {
	border-radius: 15px;
	padding: 36px;
	height: 515px;
	width: 687px;
	img {
		height: 515px;
		width: 687px;
	}	
}


/////////////////////////
/// Project Previews ///
///////////////////////

.project-preview-wrap {
	background: $light-cream;
	border-bottom: 1px solid #E7E8EA;
	min-height: 430px;
	min-width: 800px;
	position: relative;
}

.project-preview-wrap:nth-child(even)  {
	background: $dark-cream;
}

.detail-preview {
	padding: 40px 0 40px 40px;
	width: 30%;
	h3 {
		color: $dark-blue;
		line-height: 36px;
		@include proxima-light;
		margin: 0 0 18px 0;			
	}
	p {
		margin: 0 0 25px 0;
	}
}

//global outer wrap for image sets
.image-preview {
	height: 370px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 35%;
	overflow: hidden;
	width: 70%;	
}

//global inner wrap for image sets
.project-images {
	position: relative;
	margin: 0 auto;
}

.project-mobile {
	max-width: 640px;
	display: block;
	li {
		position: absolute;
		top: 50px;
		z-index: 2;
	}
	li:first-child {
		left: 50%;
		margin-left: -116px;
		top: 0;
		z-index: 3;
	}
	li:last-child {
		right: 0;
		z-index: 1;		
	}
}

.project-mobile-desktop {
	max-width: 660px;
	display: block;
	.holder-mobile-phone {
		position: absolute;
		left: 0;
		top: 50px;
		z-index: 2;
	}
	.holder-monitor {
		position: absolute;
		left: 20%;
		top: 0;
		z-index: 1;
	}
}





////////////////////////
/// Experimentation ///
//////////////////////




