<div class="blog post-preview-list">
<% blog.articles.each do |article| %>
  <article class="post-preview">
		<span class="post-date"><%= article.date.strftime('%Y.%m.%d') %></span>
		<span class="rule">&mdash;</span>	
    <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
    <p><a href="<%= article.url %>">Read more.</a></p>
  </article>
<% end %>
</div>




	