<header class="masthead">
	<div class="masthead-wrap">
		<h1><a href="/" title="TomWahlin.com">TomWahlin.com</a></h1>
		<h2><a href="/" title="TomWahlin.com">Tom Wahlin<span>&mdash;Product Designer &amp; Front-end Engineer</span></a></h2>
		<nav>
			<ul>		
				<li class="nav-projects"><a href="/projects" title="Tom Wahlin's Projects">Projects</a></li>
				<li class="nav-contact"><a href="/contact" title="Contact Tom Wahlin">Contact</a></li>
				<li class="nav-writing"><a target="_blank" href="https://medium.com/@twahlin" title="Tom Wahlin's Writing">Writing</a></li>
			</ul>	
		</nav>
		<span class="nav-toggle"></span>
	</div>
</header>