<header class="masthead">
	<div class="masthead-wrap">
	<div class="section-1">
		<h1><a href="http://tomwahlin.com/" title="TomWahlin.com">TomWahlin.com</a></h1>
		<div class="nav-rotate-up" href="#">rotate up</div>
		<div class="nav-rotate-down" href="#">rotate down</div>
	</div>
	<div class="section-2">
				<div class="close-nav"></div>
		<h2>Tom Wahlin&mdash;Designer &amp; Front-End Developer</h2>

	</div>
	<div class="section-3">	
				<div class="close-nav"></div>
		<nav>
			<ul>		
				<li><a href="http://dribbble.com/twahlin" target="_blank" title="Tom Wahlin's Dribbble">Dribbble</a></li>
				<li><a href="http://www.linkedin.com/in/tomwahlin" target="_blank" title="Tom Wahlin's Linkedin">Linkedin</a></li>
				<li><a href="http://www.last.fm/user/twahlin" target="_blank" title="Tom Wahlin's Last.fm">Last.fm</a></li>
				<li><a href="http://twitter.com/twahlin" target="_blank" title="Tom Wahlin's Twitter">Twitter</a></li>
				<li><a href="http://www.facebook.com/twahlin" target="_blank" title="Tom Wahlin's Facebook">Facebook</a></li>
			</ul>	
		</nav>

	</div>	
	</div>
</header>
