---
title: The Portfolio of Tom Wahlin
---

<div>
	<h3>About Me</h3>
	<p>Product designer and front-end engineer based in Brooklyn, New York. I’ve had the privilege of working with many talented folks at <a class="intro-apple" target="_blank" href="http://www.apple.com/">Apple</a>, <a class="intro-cover" target="_blank"  href="http://www.paywithcover.com/">Cover</a>, <a class="intro-space" target="_blank" href="http://www.space150.com/">space150</a>, <a class="intro-nerdery" href="https://nerdery.com/">The Nerdery</a>, and more. Sometimes I work on side projects like <a class="intro-wallpaper-disco" target="_blank" href="http://wallpaperdisco.com/">Wallpaper Disco</a> and <a class="intro-bullshit-sheriff" taget="_blank" href="http://bullshitsheriff.com/">Bullshit Sheriff</a>. I make a mean Manhattan and skateboard like a boss. Let's grab a coffee sometime.</p>
</div>
	
	<%= partial "contact-list" %>
	
<script type="text/javascript">
	var feed = new Instafeed({
        get: 'user',
        userId: '165971',
		limit: '12',
		accessToken: '165971.1677ed0.c8e491f5ea2744389d5461cd07cd6944',
		resolution: 'standard_resolution',
		template: '<li><a href="{{link}}"><img src="{{image}}" /></a></li>'
	});
	feed.run();
</script>


<ul id="instafeed" class="instafeed"></ul>



	
	
		