---
title: The Portfolio of Tom Wahlin
---

<div class="introduction-inner-wrap">
	<h3>Hi, I’m Tom</h3>
	<p>Product designer and front-end engineer based in Brooklyn, New York. I’ve had the privilege of working with many talented folks at <a class="intro-apple" target="_blank" href="http://www.apple.com/">Apple</a>, <a class="intro-cover" target="_blank"  href="http://www.paywithcover.com/">Cover</a>, <a class="intro-space" target="_blank" href="http://www.space150.com/">space150</a>, <a class="intro-nerdery" target="_blank" href="https://nerdery.com/">The Nerdery</a>, and more. Sometimes I work on side projects like <a class="intro-wallpaper-disco" target="_blank" href="http://wallpaperdisco.com/">Wallpaper Disco</a> and <a class="intro-bullshit-sheriff" target="_blank" href="http://bullshitsheriff.com/">Bullshit Sheriff</a>.</p>
	<!-- <p>View my portfolio (outside of Apple projects). Mix music. Barefoot Run. Designer by day, designer by night.</p> -->
	<div class="intro-social-list">
		<%= partial "contact-list" %>
	</div>
</div>
