---
title: The Portfolio of Tom Wahlin
---

<!-- Add your site or application content here -->
<section class="hero">
	hi
</section>





<section class="project-preview-block">
	<ul class="project-images project-mobile-3">
		<li>
			<div class="mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
		</li>
		<li>
			<div class="mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
		</li>
		<li>
			<div class="mobile-phone"><%= image_tag 'fpo/mobile-screenshot.png', :title => 'this is the title', :alt => 'this is the alt' %></div>	
		</li>
	</ul>
</section>