---
title: The Portfolio of Tom Wahlin
---

<section class="hero">
		<h3>The Portfolio of Tom Wahlin</h3>
		<span class="rule"></span>
		<p>Creative thinker &amp; problem solver with a passion for simplicity, craft &amp; interaction design.</p>
</section>


<!-- Loop test -->
<%= partial 'projects/index' %>
